<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="refresh" content="3">
		<title>Monitoreo</title>
	</head>
	<body><center>
	<h1>Monitoreo</h1>
	<img src="{{url_for('static',filename='/grafica.jpg')}}" alt="Gráfica de la interface f 0/0">
	<table class="default"><tr><th>Traps</th></tr><tr><td>{'Tiempo': '2022-12-09T16:15:51.047737', 'Estado': 'DOWN'}
</td></tr><tr><td>{'Tiempo': '2022-12-09T16:16:16.471096', 'Estado': 'UP'}
</td></tr><tr><td>{'Tiempo': '2022-12-09T17:01:07.086030', 'Estado': 'DOWN'}
</td></tr><tr><td>{'Tiempo': '2023-01-03T04:54:28.560090', 'Estado': 'DOWN'}
</td></tr><tr><td>{'Tiempo': '2023-01-03T04:54:54.950811', 'Estado': 'UP'}
</td></tr><tr><td></td></tr></table>
	</center>
	</body>
	</html>
 
>